services:
  firmeza.web:
    image: firmeza.web
    build:
      context: .
      dockerfile: Firmeza.web/Dockerfile

  firmeza.api:
    image: firmeza.api
    build:
      context: .
      dockerfile: Firmeza.Api/Dockerfile

